<!DOCTYPE html>
<html lang="zh">
<%- partial('_partial/head') %>

<body id="bodyx">
    <%- body %>
    <%- partial('_partial/footer') %>
</body>

<!--鼠标点击效果-->
<script type="text/javascript" src="/js/click_show_text.js"></script>

<!--浏览器搞笑标题-->
<script type="text/javascript" src="/js/FunnyTitle.js"></script>

<!--动态线条背景-->
<script type="text/javascript"
color="152,245,255 " opacity='0.6' zIndex="-2" count="150" src="//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js" >
</script>


</html>

